#container {
  border-radius: 20px 20px 20px 20px;
  border: 3px solid #cccccc;
  background-color: #eeeeee;
  top: 50px;
  height: 500px;
  width: 90%;
  margin: auto;
  padding: 10px;
}

#footer {
  border-radius: 20px 20px 20px 20px;
  border: 3px solid #cccccc;
  background-color: #eeeeee;
  padding: 10px;
  width: 90%;
  position: fixed;
  bottom: 20px;
  left: 4%;
}

h1 {
  text-align: center;
  font-style: italic;
}

ul {
border-radius: 10px 10px 10px 10px;
border: 3px solid #000000;
background-color: #dddddd;
}

li {
padding: 20px;
list-style-type: None;
}

li a {
  font-style: italic;
}
